---
---

@import "{{ site.theme }}";

html,
body {
  direction: rtl;
  text-align: right;
}

body {
  font-family: Tahoma, Arial, sans-serif;
  line-height: 2;
}

pre,
code {
  direction: ltr;
  text-align: left;
}

.site-header,
.site-footer {
  direction: rtl;
}

.wrapper {
  max-width: 850px;
}

.site-nav {
  display: none;
}
